Baldolino Calvino <alternate-silversurfer@outlook.com> <fhcflx@outlook.com>
Baldolino Calvino <alternate-silversurfer@outlook.com> <fhelder@sms.fortaleza>
Baldolino Calvino <alternate-silversurfer@outlook.com> <helder.felix@saudece.ce.gov.br>
Baldolino Calvino <alternate-silversurfer@outlook.com> <helder.felix@hias.ce.gov.br>
Baldolino Calvino <alternate-silversurfer@outlook.com> <francisco@MacBook-Air-de-Francisco.local>
